alabaster==0.7.16
anyio==4.4.0
astropy==6.1.1
astropy-iers-data==0.2024.7.1.0.34.3
asttokens==2.4.1
attrs==23.2.0
Babel==2.15.0
beautifulsoup4==4.12.3
black==24.4.2
bleach==6.1.0
cachetools==5.3.3
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
-e git+ssh://git@github.com/originalnicodr/combo.git@8a03d1c475f2fecb4feb157df9977045f4afce9c#egg=combo
comm==0.2.2
contourpy==1.2.1
coverage==7.5.4
custom-inherit==2.4.1
cycler==0.12.1
Cython==3.0.10
debugpy==1.8.2
decorator==5.1.1
defusedxml==0.7.1
distlib==0.3.8
docutils==0.20.1
entrypoints==0.4
exceptiongroup==1.2.1
executing==2.0.1
fastjsonschema==2.20.0
filelock==3.15.4
fonttools==4.53.0
-e git+ssh://git@github.com/vcristiani/galaxy-chop.git@f709253b6bf91df092b8db88c223a678abc79af8#egg=galaxychop
h11==0.14.0
h5py==3.11.0
idna==3.7
imagesize==1.4.1
iniconfig==2.0.0
ipdb==0.13.13
ipykernel==6.29.5
ipython==8.26.0
isort==5.13.2
jedi==0.19.1
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.2
jupyter_core==5.7.2
jupyterlab_pygments==0.3.0
kiwisolver==1.4.5
llvmlite==0.43.0
lxml==5.2.2
m2r2==0.3.3.post2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==0.8.4
mypy-extensions==1.0.0
nbclient==0.10.0
nbconvert==6.5.4
nbformat==5.10.4
nbsphinx==0.9.4
nest-asyncio==1.6.0
numba==0.60.0
numpy==2.0.0
packaging==24.1
pandas==2.2.2
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pillow==10.4.0
platformdirs==4.2.2
pluggy==1.5.0
prompt_toolkit==3.0.47
psutil==6.0.0
ptyprocess==0.7.0
pure-eval==0.2.2
pyerfa==2.0.1.4
Pygments==2.18.0
pyod==2.0.1
pyparsing==3.1.2
pyproject-api==1.7.1
pytest==8.2.2
pytest-cov==5.0.0
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
pyzmq==26.0.3
qafan==0.1
referencing==0.35.1
requests==2.32.3
rich==13.7.1
rpds-py==0.18.1
scikit-learn==1.5.1
scipy==1.14.0
seaborn==0.13.2
shellingham==1.5.4
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.3.7
sphinx-autobuild==2024.4.16
sphinx-fortran==1.1.1
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.3
starlette==0.37.2
threadpoolctl==3.5.0
tinycss2==1.3.0
tomli==2.0.1
tornado==6.4.1
tox==4.16.0
traitlets==5.14.3
typer==0.12.3
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
uttrs==0.5
uvicorn==0.30.1
virtualenv==20.26.3
watchfiles==0.22.0
wcwidth==0.2.13
webencodings==0.5.1
websockets==12.0
